<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <title th:text="${title}"></title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/imgs/theme/favicon.png}">
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}">


</head>


<body>
<header th:replace="~{fragments::maintop}">
</header>

<section class="pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">


                <div class="row">
                    <div class="col-lg-5">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30">Enter your New Password</h3>
                                </div>
                                <!--                                <div th:if="${param.error}">-->
                                <!--                                    <div class="alert alert-danger">Username/Email entered is incorrect</div>-->
                                <!--                                </div>-->

                                <div>
                                    <form method="Post" th:action="@{/passwordResetPage}" th:object="${customerDto}">

                                        <div class="form-group">
                                            <label class="control-label" placeholder="Enter your Username/EMail">
                                            </label>
                                            <input id="username" hidden="true" class="form-control"
                                                   th:field="*{username}" th:value="*{username}" required="required"
                                                   autofocus="autofocus" value="100"/>
                                            <input id="password" placeholder="Enter your new password"
                                                   class="form-control" th:field="*{password}" required="required"
                                                   autofocus="autofocus" value="100"/>
                                            <input id="repeatPassword" placeholder="Repeat your new password"
                                                   class="form-control" th:field="*{repeatPassword}" required="required"
                                                   autofocus="autofocus" value="100"/>

                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">
                                                Submit
                                            </button>
                                            <span><a th:href="@{/login}">Go back to Login</a></span>
                                        </div>


                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--<footer th:replace="~{fragments::downbar}">-->

</footer>


<!--<div th:replace="~{fragments::script}"></div>-->
<
<script th:src="@{/js/vendor/modernizr-3.6.0.min.js}"></script>
<script th:src="@{/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/plugins/slick.js}"></script>
<script th:src="@{/js/plugins/jquery.syotimer.min.js}"></script>
<script th:src="@{/js/plugins/wow.js}"></script>
<script th:src="@{/js/plugins/jquery-ui.js}"></script>
<script th:src="@{/js/plugins/perfect-scrollbar.js}"></script>
<script th:src="@{/js/plugins/magnific-popup.js}"></script>
<script th:src="@{/js/plugins/select2.min.js}"></script>
<script th:src="@{/js/plugins/waypoints.js}"></script>
<script th:src="@{/js/plugins/counterup.js}"></script>
<script th:src="@{/js/plugins/jquery.countdown.min.js}"></script>
<script th:src="@{/js/plugins/images-loaded.js}"></script>
<script th:src="@{/js/plugins/isotope.js}"></script>
<script th:src="@{/js/plugins/scrollup.js}"></script>
<script th:src="@{/js/plugins/jquery.vticker-min.js}"></script>
<script th:src="@{/js/plugins/jquery.theia.sticky.js}"></script>
<!-- Template  JS -->
<script th:src="@{.//js/main.js?v=3.4}"></script>

</body>
</html>