<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::head}"></head>
<!-- Main Top -->
<header th:replace="~{fragments::maintop}"></header>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index-2.html" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-product-fillter style-2">


                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                            </div>
                            <div class="sort-by-cover">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Listing -->
                <div class="product-list mb-50">
                    <div class="product-cart-wrap" th:each="product : ${products}">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom">
                                <div class="product-img-inner">
                                        <a th:href="@{/product-detail/{id}(id = ${product.id})}">
                                            <img class="default-img" th:src="@{|/imgs/imageproduct/${product.images[0].getName()}|}" alt="ProductImage">
                                            <img class="hover-img" th:src="@{|/imgs/imageproduct/${product.images[0].getName()}|}" alt="ProductImage">

                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="product-content-wrap">
                            <div class="product-category">
                                <a  th:text="${product.category.name}"></a>
                            </div>
                            <h2><a th:text="${product.name}"></a></h2>
                            <div class="product-price">
                                <span th:unless="${product.salePrice > 0}">₹<span th:text="${product.costPrice}"></span></span>
                                <span th:if="${product.salePrice > 0}">₹<span th:text="${product.salePrice}"></span></span>
                                <span th:if="${product.salePrice > 0}" class="old-price">₹<span th:text="${product.costPrice}"></span></span>

<!--                                <span th:text="${product.costPrice}"></span>-->
                                <!--                                    <span class="old-price">$245.8</span>-->
                            </div>
                            <p class="mt-15" th:text="${product.description}"></p>
                            <div class="product-action-1 show">
                                <a aria-label="Buy now" class="action-btn" th:href="@{/add-to-cart/{id}(id=${product.id}, actualPrice=${product.costPrice}, salePrice=${product.salePrice})}"><i class="fi-rs-shopping-bag-add"></i>Add to Cart</a>
                                <div class="rating-result" title="90%">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--single product-->

                    <!--single product-->
                </div>
                <!--pagination-->
<!--                <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">-->
<!--                    <nav aria-label="Page navigation example">-->
<!--                        <ul class="pagination justify-content-start">-->
<!--                            <li class="page-item active"><a class="page-link" href="#">01</a></li>-->
<!--                            <li class="page-item"><a class="page-link" href="#">02</a></li>-->
<!--                            <li class="page-item"><a class="page-link" href="#">03</a></li>-->
<!--                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>-->
<!--                            <li class="page-item"><a class="page-link" href="#">16</a></li>-->
<!--                            <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li>-->
<!--                        </ul>-->
<!--                    </nav>-->
<!--                </div>-->


                <!-- Example pagination controls -->
                <div th:if="${totalPages > 1}">
                    <ul class="pagination">
                        <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                            <a th:href="@{/products-list(pageNo=0)}" class="page-link">First</a>
                        </li>
                        <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                            <a th:href="@{/products-list(pageNo=${currentPage - 1})}" class="page-link">Previous</a>
                        </li>
                        <li th:each="pageNumber : ${#numbers.sequence(0, totalPages-1)}" th:class="${pageNumber == currentPage} ? 'page-item active' : 'page-item'">
                            <a th:href="@{/products-list(pageNo=${pageNumber})}" class="page-link" th:text="${pageNumber + 1}"></a>
                        </li>
                        <li th:class="${currentPage == totalPages-1} ? 'page-item disabled' : 'page-item'">
                            <a th:href="@{/products-list(pageNo=${currentPage + 1})}" class="page-link">Next</a>
                        </li>
                        <li th:class="${currentPage == totalPages-1} ? 'page-item disabled' : 'page-item'">
                            <a th:href="@{/products-list(pageNo=${totalPages - 1})}" class="page-link">Last</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </section>
</main>
<footer class="main">
    <section class="newsletter p-30 text-white wow fadeIn animated">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-md-3 mb-lg-0">
                    <div class="row align-items-center">
                        <div class="col flex-horizontal-center">
                            <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                            <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                        </div>
                        <div class="col my-4 my-md-0 des">
                            <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- Subscribe Form -->
                    <form class="form-subcriber d-flex wow fadeIn animated">
                        <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                        <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                    </form>
                    <!-- End Subscribe Form -->
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widget-about font-md mb-md-5 mb-lg-0">
                        <div class="logo logo-width-1 wow fadeIn animated">
                            <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                        </div>
                        <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                        <p class="wow fadeIn animated">
                            <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                        </p>
                        <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                        <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                            <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <h5 class="widget-title wow fadeIn animated">About</h5>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Support Center</a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-3">
                    <h5 class="widget-title wow fadeIn animated">My Account</h5>
                    <ul class="footer-list wow fadeIn animated">
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">View Cart</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Track My Order</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Order</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 class="widget-title wow fadeIn animated">Install App</h5>
                    <div class="row">
                        <div class="col-md-8 col-lg-12">
                            <p class="wow fadeIn animated">From App Store or Google Play</p>
                            <div class="download-app wow fadeIn animated">
                                <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="assets/imgs/theme/app-store.jpg" alt=""></a>
                                <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                            <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                            <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container pb-20 wow fadeIn animated">
        <div class="row">
            <div class="col-12 mb-20">
                <div class="footer-bottom"></div>
            </div>

            <div class="col-lg-6">
                <p class="text-lg-end text-start font-sm text-muted mb-0">
                    Designed by <a href="http://alithemes.com" target="_blank">Alithemes.com</a>. All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <h5 class="mb-5">Now Loading</h5>
                <div class="loader">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor JS-->
<script th:src="@{/js/vendor/modernizr-3.6.0.min.js}"></script>
<script th:src="@{/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/plugins/slick.js}"></script>
<script th:src="@{/js/plugins/jquery.syotimer.min.js}"></script>
<script th:src="@{/js/plugins/wow.js}"></script>
<script th:src="@{/js/plugins/jquery-ui.js}"></script>
<script th:src="@{/js/plugins/perfect-scrollbar.js}"></script>
<script th:src="@{/js/plugins/magnific-popup.js}"></script>
<script th:src="@{/js/plugins/select2.min.js}"></script>
<script th:src="@{/js/plugins/waypoints.js}"></script>
<script th:src="@{/js/plugins/counterup.js}"></script>
<script th:src="@{/js/plugins/jquery.countdown.min.js}"></script>
<script th:src="@{/js/plugins/images-loaded.js}"></script>
<script th:src="@{/js/plugins/isotope.js}"></script>
<script th:src="@{/js/plugins/scrollup.js}"></script>
<script th:src="@{/js/plugins/jquery.vticker-min.js}"></script>
<script th:src="@{/js/plugins/jquery.theia.sticky.js}"></script>
<script th:src="@{/js/plugins/jquery.elevatezoom.js}"></script>
<!-- Template  JS -->
<script src="./js/main.js?v=3.4"></script>
<script src="./js/shop.js?v=3.4"></script>
</body>

</html>